@import url('https://fonts.cdnfonts.com/css/chomsky');
.animated-text{
    font-size: 85px;
    font-weight: 400;
    font-family: 'Chomsky', sans-serif;
    background: linear-gradient(to right,
            #003a0b 20%,
            #ffee00 30%,
            #ffae00 70%,
            #00570a 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.animated-text-btn {
    background: linear-gradient(to right,
            #003a0b 20%,
            #ffee00 30%,
            #ffae00 70%,
            #00570a 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.text-dtcn{
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'open sans', sans-serif;
    background: linear-gradient(to right,
            #003a0b 20%,
            #272727 30%,
            #888888 70%,
            #1f3821 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

}
.text-dtcn-btn{
    border: transparent;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'open sans', sans-serif;
    background: linear-gradient(to right,
            #006713 20%,
            #646464 30%,
            #b1b1b1 70%,
            #045c0c 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;

}